<section class="w-75 mx-auto rounded shadow p-3 bg-light-main mt-2">

    <div class="hstack justify-content-between">
        <h1>Shop Cart</h1>
        <button class="btn btn-danger" (click)="clearCart()"><i class="fas fa-trash-can"></i> Clear All Cart</button>
    </div>

    <p class="text-main">Total Price: {{cartData.totalCartPrice}}</p>

    <div class="row border-bottom py-2" *ngFor="let item of cartData.products">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11 hstack justify-content-between">
            <div>
                <h3 class="h6">{{item.product.title}}</h3>
                <p class="text-main">Price: {{item.price}}</p>

                <button class="btn text-danger p-0 m-0" (click)="removeProduct(item.product._id)">
                    <i class="fas fa-trash-can"></i> Remove
                </button>
            </div>
            <div>
                <button #btn1 class="btn border-success btn-sm" (click)="changeCount(item.count - 1 , item.product._id, btn1, btn2)">-</button>
                <span> {{item.count}} </span>
                <button #btn2 class="btn border-success btn-sm" (click)="changeCount(item.count + 1 , item.product._id, btn1, btn2)">+</button>
            </div>
        </div>
    </div>

    <button class="main-btn mt-2" [routerLink]="['/payment', cartData._id]">Online Payment <img src="./assets/images/visa-1.svg" alt=""></button>

</section>