<section>
    <div class="row align-items-center g-4 mt-3 mx-auto">

        <div class="col-md-3">
            
            <owl-carousel-o [options]="productSlider">

                <ng-container *ngFor="let img of productsDetails.images">
                  <ng-template carouselSlide >
                    <img [src]="img">
                  </ng-template>
                </ng-container>
            
            </owl-carousel-o>

        </div>

        <div class="col-md-8">
            <div>
                <h3>{{productsDetails.title}}</h3>
                <p>{{productsDetails.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{productsDetails.price | currency:'EGP'}}</span>
                    <span>
                        {{productsDetails.ratingsAverage}}
                        <i class="rating-color fas fa-star"></i> 
                    </span>
                </div>
                
                <button class="main-btn w-100" (click)="addProduct(productsDetails._id)">+ Add To Cart</button>
            </div>

        </div>

    </div>
</section>
