<section class="w-75 mx-auto mt-5 rounded shadow p-4 bg-light-main">

    <form [formGroup]="checkForm" (ngSubmit)="checkOut()">
        <div class="form-item">
            <label for="details">Details</label>
            <input type="text" class="form-control" id="details" formControlName="details">
        </div>
        <div class="form-item">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
        <div class="form-item">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city">
        </div>

        <button class="main-btn mt-2">CheckOut</button>
    </form>

</section>